<form [formGroup]="form" (submit)="sendMessage()">
    <textarea 
        #message
        (keyup)="userIsTyping($event)"
        formControlName="message" placeholder="Message"></textarea>
</form>
<div>
    <svg>
        <use xlink:href="assets/images/icons.svg#icon-emoji_emotions"></use>
    </svg>
    <svg>
        <use xlink:href="assets/images/icons.svg#icon-collectionsphoto_library"></use>
    </svg>

    <a class="send" (click)="sendMessage()">Send</a>
</div>
<span class="typing" *ngIf="typing">{{typing}} is typing . . .</span>