<form *ngIf="!isGlyph" [formGroup]="form" (submit)="onSendMessage()">
    <textarea
        id="message"
        #message
        (keyup)="userIsTyping($event)"
        (blur)="onBlur($event)"
        formControlName="message" placeholder="Message"
    ></textarea>
</form>

    <app-giphy
      [type]="glyphType"
      (onclose)="openGlyph(false)"
      (onselect)="selectGif($event)"
      *ngIf="isGlyph"></app-giphy>
    <div>

    <app-emoji-picker (click)="openGlyph(false)" field="message"></app-emoji-picker>

    <app-send-photo (onupload)="onImageUpload($event)"></app-send-photo>

    <svg (click)="openGlyph(true, 'gifs')">
      <use xlink:href="assets/images/icons.svg#icon-gif"></use>
    </svg>

    <svg (click)="openGlyph(true, 'stickers')">
      <use xlink:href="assets/images/icons.svg#icon-sticker"></use>
    </svg>

    <a class="send" (click)="onSendMessage()">Send</a>
</div>
<span class="typing" *ngIf="typing">{{typing}} is typing . . .</span>
