<form [formGroup]="form" (submit)="sendMessage()">
    <textarea
        id="message"
        #message
        (keyup)="userIsTyping($event)"
        (blur)="onBlur($event)"
        formControlName="message" placeholder="Message"
      ></textarea>
</form>
<div>

    <app-emoji-picker field="message"></app-emoji-picker>
    <svg>
        <use xlink:href="assets/images/icons.svg#icon-collectionsphoto_library"></use>
    </svg>

    <a class="send" (click)="sendMessage()">Send</a>
</div>
<span class="typing" *ngIf="typing">{{typing}} is typing . . .</span>
