:host{
  display: block;
  height: 15rem;

  display: flex;
  flex-flow: column;
  position: relative;
}

.close{
  position: absolute;
  top: -40px;
  right: -5px;
  width: 3rem;
  height: 3rem;
  fill: #565656;
}

.search{
  position: relative;
  margin-bottom: .5rem;

  input{
      border-radius: 2px;
      padding: 1rem;
      width: 100%;
      background: #fff;
      border: 1px solid #ddd;
      transition: all .25s ease;

      &::placeholder{
          color: #c1c1c1;
      }
  }
  svg{
      fill: #929292;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      right: 5px;
      top: 8px;
      pointer-events: none;
      transition: all .25s ease;
  }
}

.list-container{
  overflow: auto;
  flex: 1;
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-template-rows: 10rem;
  grid-auto-rows: 10rem;
  overflow-y: auto;

  li{
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    border: 2px solid #8a8a8a;
    overflow: hidden;

    &:hover{
      background: #ff5050;
    }

    img{
      width: 100%;
    }
  }
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsla(0, 0%, 54%, 0.9);

  display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.25rem;
}
