div{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 0 0px 2px #fff;
}