<div class="content">
    <svg class="close" (click)="close()">
        <use xlink:href="assets/images/icons.svg#icon-clearclose"></use>
    </svg> 
    <div class="tab">
        <ul>
            <li class="active">
                Friends <span>10</span>
            </li>
            <li>
                Invites <span>10</span>
            </li>
            <li>
                Friend Request <span>10</span>
            </li>
        </ul>
    </div>

    <div class="search">
        <input type="text" placeholder="Search">
        <svg>
            <use xlink:href="assets/images/icons.svg#icon-search"></use>
        </svg> 
    </div>

    <ul class="list custom-scroll">
        <li>
            <img class="avatar" alt="" src="./assets/images/avatar.svg">
            <label>Jener Sigua</label>

            <button>Unfriend</button>
        </li>
        <li>
            <img class="avatar" alt="" src="./assets/images/avatar.svg">
            <label>Jener Sigua</label>
            <button>Unfriend</button>            
        </li>
        <li>
            <img class="avatar" alt="" src="./assets/images/avatar.svg">
            <label>Jener Sigua</label>
            <button>Unfriend</button>            
        </li>
        <li>
            <img class="avatar" alt="" src="./assets/images/avatar.svg">
            <label>Jener Sigua</label>
            <button>Unfriend</button>            
        </li>
        <li>
            <img class="avatar" alt="" src="./assets/images/avatar.svg">
            <label>Jener Sigua</label>
            <button>Unfriend</button>
        </li>
    </ul>
</div>