<div class="content">
  <h1>{{selectedConversation.name}} Members</h1>
  <svg class="close" (click)="close()">
      <use xlink:href="assets/images/icons.svg#icon-clearclose"></use>
  </svg>

  <div class="search">
      <input type="text" placeholder="Search" [(ngModel)]="searchKey">
      <svg>
          <use xlink:href="assets/images/icons.svg#icon-search"></use>
      </svg>
  </div>

  <ul class="list custom-scroll" *ngIf="members">
      <li *ngFor="let m of members | userFilter : searchKey;let i = index">
          <img class="avatar" [src]="profilePictures[i]" onerror="this.src='./assets/images/avatar.svg'">
          <label>
            {{ currentUser._id === m._id ? 'You' : (m.firstname +' '+ m.lastname)}}

            <span class="admin" *ngIf="selectedConversation.createdBy.toString() === m._id">
              ( admin )
            </span>
          </label>

          <div *ngIf="isAdmin && currentUser._id !== m._id" class="action">
              <button (click)="remove(m)">Remove</button>
          </div>
      </li>
      <!-- <li *ngIf="friends.length === 0">
          No Results found!
      </li> -->
  </ul>
</div>
