:host{
    width: 28rem;
    background: #093058;
    display: flex;
    flex-flow: column;
    z-index: 1;
    transition: all .5s ease-in-out;

    @media (max-width:750px) {
        position: absolute;
        height: 100vh;
        top: 0;
        box-shadow: 20px 0px 30px 0px #fff;


        .close-btn{
            display: block;
        }

        &.closed{
            transform: translateX(-35rem);
            box-shadow: none;

            .close-btn{
                transform: rotate(0deg);
            }
        }
    };
}

.close-btn{
    position: absolute;
    top: 28px;
    right: -28px;
    background: transparent;
    fill: #505050;
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
    cursor: pointer;
    transform: rotate(180deg);
}

