<div class="top">
  <h1 class="title">Groups</h1>
  <svg (click)="addGroup()">
    <use xlink:href="assets/images/icons.svg#icon-add"></use>
  </svg>
</div>

<div class="search">
  <input type="text" placeholder="Search" [(ngModel)]="searchKey">
  <svg>
      <use xlink:href="assets/images/icons.svg#icon-search"></use>
  </svg>
</div>

<ul class="groups custom-scroll">
  <li
    [ngClass]="{'active' : selectedConversation && selectedConversation._id === con._id}"
    (click)="selectConversation(con)"
    *ngFor="let con of conversations | conversationFilter : searchKey">
    <div class="members" [ngClass]="{'size-1': con.members.length === 1}">
      <img *ngFor="let m of con.members.slice(0, 4)" alt="" class="avatar" src="./assets/images/avatar.svg">
    </div>
    <div class="info">
      <label>{{con.name}}</label>
      <span>{{con.members.length}} member{{con.members.length > 1 ? 's' :''}}</span>
    </div>
    <span class="notifications" *ngIf="countNotification(con._id) > 0">{{countNotification(con._id)}}</span>
  </li>
</ul>

<app-add-group *ngIf="isAddGroup"></app-add-group>
