<button (blur)="toggleOnBlur()" #toggleButton class="toggle" (click)="toggle()">
  <svg>
    <use xlink:href="assets/images/icons.svg#icon-emoji"></use>
  </svg>
</button>

<div class="list" [ngClass]="{'animate': animate}" *ngIf="show">
  <input
    class="search"
    type="text"
    [(ngModel)]="key"
    (focus)="searchFieldOnFocus()"
    (blur)="searchFieldOnBlur()">

  <ul class="custom-scroll" *ngIf="emojis">
    <li
      (click)="select(e)"
      [title]="e.name"
      [innerHTML]="e.code"
      *ngFor="let e of emojis | emojiFilter : key"></li>
  </ul>
</div>
