:host{
    background: #2b5784;
}

ul{
    display: flex;
    list-style: none;

    li{
        flex:1;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.active{
            background: #1d3f61;
        }

        &:hover{
            background: #274e75;
        }

        svg{
            width: 2.5rem;
            height: 2.5rem;            
            fill: #fff;
        }
    }
}