
<svg class="menu" (click)="showMenu()">
    <use xlink:href="assets/images/icons.svg#icon-menu"></use>
</svg>

<img alt="" src="./assets/images/avatar.svg">

<div *ngIf="friend">
    <h1>{{friend.firstname}} {{friend.lastname}}</h1>
    <label>Online</label>
</div>

<button (blur)="hideActions()" (click)="showActions = true">
    <svg>
        <use xlink:href="assets/images/icons.svg#icon-more_vert"></use>
    </svg>

    <ul *ngIf="showActions">
        <li 
            (click)="doAction(a)"
            *ngFor="let a of actions">
            
            <svg>
                <use [attr.xlink:href]="'assets/images/icons.svg#icon-' + a.icon"></use>
            </svg>

            {{a.label}}
        </li>
    </ul>
</button>