.container{
    background: #cee5ef;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .chat{
        width: 100%;
        max-width: 85rem;
        height: 90%;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        box-shadow: 0px 10px 12px -15px #333;
    }
}