/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}
html{
    font-size: 62.5%;


    @media (max-width:414px) {
        font-size: 58%;
    };

    @media (max-width:320px) {
        font-size: 50%;
    };
}

body{
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.custom-scroll{
    &::-webkit-scrollbar-track
    {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        // border-radius: 50px;
        background-color: #eee;//rgba(245, 245, 245, 0.2);
    }

    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #eee;//rgba(245, 245, 245, 0.2);
    }

    &::-webkit-scrollbar-thumb
    {
        // border-radius: 50px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #fd6161;
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.alert{
    min-width: 25rem;
    width: auto !important;
}
/**
Todo

ADD TITLE ON JK ALERT
update width and min width
*/

app-conversation{
  .message{
    .content span{
      a{
        font-weight: 500;
        color: #00668e;
      }
    }
    .reply-message{
      padding: .5rem;
      background: #cacaca; // #6dc37a;
      color: #929292; //#fff
      font-size: 1.2rem;
      font-style: italic;
      border-radius: 5px;
      margin-bottom: 1rem;

      > strong{
        display: block;
        font-style: normal;
      }

      > p{
        padding-left: 1rem;
      }

      > span{
        display: none;
      }
    }

    &.you{
      .reply-message{
        background: #6dc37a;
        color:#fff
      }
    }
  }
}
